main{
    background-color: #FCA311;
    
}
.contenedor .form .form-header .form-title{

    font-weight: normal;
    font-family: sans-serif;
    color: #FCA311;
    text-align: center;
    padding: 14px 0 14px 0;
}

.contenedor .form .form-header .form-title span{

    color: #fff;
}

.contenedor .form {

        background: rgba(0,0,0,.6);
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 5px 35px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-radius: 3px;

}

.contenedor .form .form-label {
    display: block;
    color: #FCA311;
    font-size: 16px;
    font-family: roboto;
    position: relative;
}

.contenedor .form .form-input, .form-textarea {
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #FCA311;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: roboto;
}

.contenedor .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;

}

.contenedor .form .btn-submit {
    width: 100%;
    font-family: roboto;
    outline: none;
    background: #FCA311;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor .form .btn-submit:hover {
    background: #f29718;
}